<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de búsqueda</title>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
</head>

<body>
    <header>
        <h3>Escáner de Placas Vehiculares</h3>
    </header>
    <main>
        <h4>Resultados de búsqueda</h4>

        {% if msj: %}
        <p style="color: red;">{{ msj }}</p>
        {% endif %}

        {% if image: %}
        <div class="result-container">
            <div id="image-container">
                <img src="{{ image }}" alt="Imagen capturada">
            </div>
        </div>
        {% endif %}
        <div class="table-container">
            <table>
                <th colspan="2">
                    Vehículo
                </th>
                <tr>
                    <td>Placa:</td>
                    <td>{{ vehiculo.get('placa') }}</td>
                </tr>
                <tr>
                    <td>Marca:</td>
                    <td>{{ vehiculo.get('marca') }}</td>
                </tr>
                <tr>
                    <td>Modelo:</td>
                    <td>{{ vehiculo.get('modelo') }}</td>
                </tr>
            </table>
        </div>

        <button onclick="window.location.href='/';">Volver</button>
    </main>
</body>

</html>